// Generic
$primary-color: #c14040;
$alt-color: #ddd;
$dark-color: #101010;
$light-color: #fff;
$gutter: 2rem;

//Background
$clr-background-primary: #c14040;
$clr-background-list: #982c2b;
$clr-background-oneCard: #ab3838;
$clr-background-header: #efe3e3;
$clr-background-progress: #632b2b;

// Global
$global-font: 'Bree Serif', serif;
$global-font-weight: 400;
$clr-text: #fff;

// Title
$title-font: 'Bree Serif', serif;
$title-font-weight: 500;
$clr-title: #c14040;

// Type
$clr-background-plante: #77cc55;
$clr-background-acier: #abaabb;
$clr-background-combat: #bb5544;
$clr-background-dragon: #7865ee;
$clr-background-eau: #3399ff;
$clr-background-electrik: #ffbb33;
$clr-background-feu: #ff4422;
$clr-background-glace: #77ddff;
$clr-background-insecte: #abbb23;
$clr-background-normal: #bbaabb;
$clr-background-poison: #aa5599;
$clr-background-psy: #ff5599;
$clr-background-roche: #bbaa66;
$clr-background-sol: #ddbb54;
$clr-background-spectre: #6666bb;
$clr-background-tenebre: #675544;
$clr-background-vol: #6599ff;
